<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">

      <div class="left">
        <div class="categories-list">
          <div class="sale">
            <h3>Sale</h3>
          </div>
          <div class="categories">
            <h3>Men</h3>
            <h3>Women</h3>
            <h3>Journal</h3>
            <h3>Objects</h3>
          </div>
          <div class="search-bar">
            <input type="text" placeholder="Search" class="search-input"> <i class="fa fa-arrow-circle-right"></i>
          </div>
          <div class="newsletter">
            <div class="newsletter-content">
              <p class="title-tag">Newsletter</p>
              <img src="images/circle.png" alt="" class="img-newsletter" style="float: left; margin: 0px 15px 15px 0px;">
            </div>
          </div>
        </div>
      </div>
      <div class="right">
          <div class="cards">
            <div class="card">
              <img src="https://images-na.ssl-images-amazon.com/images/I/71ETVi3IeyL._AC_SL1200_.jpg" alt="jacket image" class="card-img" />
            </div>
            <div class="card">
              <img src="https://images-na.ssl-images-amazon.com/images/I/61vzfAUDDDL._AC_SL1200_.jpg" alt="jacket image" class="card-img" />
            </div>
            <div class="card">
              <img src="https://images-na.ssl-images-amazon.com/images/I/71RLRG9a%2BdL._AC_SL1200_.jpg" alt="jacket image" class="card-img" />
            </div>
            <div class="card">
              <img src="https://images-na.ssl-images-amazon.com/images/I/71jfBKoKuDL._AC_SL1200_.jpg" alt="jacket image" class="card-img" />
            </div>
            <div class="card">
              <img src="https://images-na.ssl-images-amazon.com/images/I/71YCRrhWaPL._AC_SL1200_.jpg" alt="jacket image" class="card-img" />
            </div>
            <div class="card">
              <img src="https://images-na.ssl-images-amazon.com/images/I/71ETVi3IeyL._AC_SL1200_.jpg" alt="jacket image" class="card-img" />
            </div>
          </div>
          <div class="brand-container">
            <p class="title-tag">Brand:</p>
            <h3 class="brand-title">Norse Project</h3>
          </div>
          <div class="photo-container vcenter">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71YCRrhWaPL._AC_SL1200_.jpg" alt="" class="main-image">
          </div>
          <div class="product-container">
            <div class="product-infos">
              <p class="title-tag">Product:</p>
              <p class="title-tag">/26183</p>
            </div>
            <div class="product-title">
              <h3 class="product-name">Men's Anker Classic Waterproff Rain Jacket</h3>
            </div>
            <div class="product-details">
              <div class="price">
                <h3 class="price-title">$369</h3>
              </div>
              <div class="buttons">
                <a href="" class="btn btn-black">Buy</a>
                <img src="images/pinterest-social-logo.png" alt="" class="icons">
                <img src="images/twitter.png" alt="" class="icons">
                <img src="images/facebook.png" alt="" class="icons">
              </div>
            </div>
            <div class="extra-options">
              <div>
                <p class="title-tag scroll-bar">Details & Features <i class="fa fa-angle-down"></i></p>
              </div>
              <div>
                <p class="title-tag">Shipping Terms <i class="fa fa-angle-down"></i></p>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
